* {
    margin: 0;
}
html {
  scroll-behavior: smooth;
}

.first_page {
    height: 100vh;
    width: 100%;
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 5;
}
.layers-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.corners {
    height: 100svh;
    width: 100%;
    position: absolute;
    z-index: 10;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 50% , rgba(0, 0, 0, 0.7));
}
.cursor-effect {
    pointer-events: none;
    transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.layer1 {
    position: absolute;
    width: 130%;
    height: 130;
    top: -20%;
    left: -15%;
    z-index: 0;
}
.fog1 {
    z-index: 1;
    width: 100vw;
    height: 15vh;
    top: 25vh;
    left: 0;
    object-fit: cover;
}
.layer2 {
    position: absolute;
    object-fit: cover;
    z-index: 2;
    width: 130%;
    height: 300px;
    top: calc(50% - 280px);
    left: -15%;
}
.layer3 {
    position: absolute;
    z-index: 3;
    width: 130%;
    height: 850px;
    top: calc(50% - 450px);
    left: -15%;
}
.layer4 {
    position: absolute;
    z-index: 4;
    object-fit: fill;
    height: 400px;
    width: 100%;
    left: 3%;
    top: calc(50% - 100px);
    filter:contrast(200%);
}
.layer5 {
    position: absolute;
    z-index: 4;
    object-fit: fill;
    height: 90%;
    width: 25%;
    left : -2%;
    top: 8%;
}
.layer6 {
    position: absolute;
    z-index: 4;
    object-fit: fill;
    height: 30%;
    width: 20%;
    right : -2%;
    top: 50%;
}
.second-page {
    height: 100vh;
    width: 100%;
}
.Details {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 6;
}
.hero {
    z-index: 6;
    position: sticky;
    left: calc(50% - 100px);
    top: calc(100% - 300px);
    animation: hero-animation both;
    animation-timeline: view(40% 20%);
}
.about-me{
    position: absolute;
    height: 100%;
    width: 30%;
    border: 1px solid white;
    color: white;
    top: 0;
}
@keyframes hero-animation {
    0%{
        opacity: 0;
        transform: scale(1);
    }
    40% {opacity: 1;}
    100%{
        transform: scale(4);
    }
}
.back-card {
    position: absolute;
    z-index: 5;
    height: 100px;
    width: 200px;
    background-color: red;
    border-radius: 25px;
    left: calc(50% - 80px);
    top: calc(50% - 50px);
    animation: back-card both;
    animation-timeline: view(40% 10%);
}
.samurai {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
}
@keyframes back-card {
    0%{
        transform: scale(0);
    }
    100% {
        transform: scale(3);
    }
}
.third-page {
    height: 100svh;
    width: 100%;
    position: relative;
}
.skills {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 7;
    background-color: white;
}
.coding-pro {
    height: 50px;
    width: 250px;
    background-color: black;
    border: 2px solid rgb(233, 209, 209);
    border-radius: 35px;
    position: absolute;
    right: -75%;
    top: calc(100% - 60px);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.co-pro:hover > .coding-pro {
    animation-name: coding-pro;
    animation-duration: 3s;
    animation-timing-function: linear cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
}

.co-pro {
    height: 50px;
    width: 100px;
    position: absolute;
    right: 25%;
    top: calc(100% - 60px);
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes coding-pro {
    0% {z-index: 9;
    pointer-events: none;}
    50% {
        width: 50px;
        transform: translateX(-110px);
    }
    100% {
        width: 250px;
        border-radius: 30px;
        z-index: 7;
    }
}
@media (max-width: 900px) {
    .layers-container, .first_page {
        height: 60vh;
    }
    .layer2, .layer3, .layer4 {
        height: 40vh;
    }
    .fog1 {
        height: 8vh;
        top: 15vh;
    }
}
